@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css?family=Bebas Neue');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

html {
    overflow: hidden;
    font-family: 'Bebas Neue';
}

body {
    background: transparent !important;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.progress-container {
    display: none;
    z-index: 5;
    color: #fff;
    font-family: 'Bebas Neue';
    width: 15%;
    position: fixed;
    bottom: 12.65%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.progress-labels {
    width: 100%;
    height: 4vh;
    line-height: 4vh;
    text-align: center;
    position: absolute;
    display: inline-block;
    white-space: nowrap;
}

.progress-labels div {
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 4vh;
    position: relative;
    top:10px;
    color: #ffffff;
    z-index: 10;
    font-variant: small-caps;
    text-transform: uppercase;
}

.progress-bar-container {
    width: 100%;
    height: 1vh;
    background: rgba(0, 0, 0, 0.246);
    text-align: left;
    overflow: hidden;
    position: relative;
    display: block;
    white-space: nowrap;
    border-radius: 5px;
}

.progress-bar {
    background: #ffffff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffffff, #ffffff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffffff, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    width: 0%;
    height: 1vh;
    transition: width 0.3s;
    transition-timing-function: ease-out;
}