.phone-app {
    display: none;
    height: 100%;
    width: 100%;
    background: #1f2933;
    overflow: hidden;
}

#phone-plus-icon {
    position: absolute;
    color: #1f2933;
    right: 2vh;
    top: -1vh;
    background-color: #e9c39d;
    padding: 1.5vh;
    border-radius: 50%;
    transition: 0.1s;
}

#phone-plus-icon:hover {
    background-color: #d5b391;
}

.phone-app-header {
    position: relative;
    font-family: 'Roboto Regular';
    font-size: 3.2vh;
    height: 9vh;
    border-bottom-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
    text-align: center;
    background-color: #333c45;
}

.contacten-header-text {
    position: relative;
    color: #acb3bb;
    top: 4vh;
    font-size: 2.3vh;
}

.phone-contacts {
    display: block;
    position: absolute;
    height: 79%;
    width: 100%;
    top: 7.5vh;
}

.phone-app-recent-btn {
    position: absolute;
    background-color: #e9c39d;
    color: #44270d;
    text-align: center;
    width: 75%;
    height: 4vh;
    border-radius: 1.5vh;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 9vh;
    font-family: 'Roboto Regular';
    line-height: 4vh;
    transition: .1s;
}

.phone-app-recent-btn:hover {
    background-color: #dfb790;
}

.phone-contact-list::-webkit-scrollbar {
    width: .4vh;
}

.phone-contact-list::-webkit-scrollbar-thumb {
    background-color: #686de0;
}

.phone-contact-list::-webkit-scrollbar-track {
    background-color: #ebebeb;
}

.phone-contact-list {
    position: absolute;
    height: 92%;
    top: 3.5vh;
    width: 99%;
    margin: 0 auto;
    left: 0;
    right: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.phone-contact {
    position: relative;
    width: 99%;
    left: 0.3vh;
    height: 4.5vh;
    margin-top: .1vh;
    margin-bottom: 0.6vh;
    color: #e6eaec;
}

.phone-contact-avatar {
    position: absolute;
    height: 4vh;
    width: 4vh;
    margin: .5vh;
    margin-left: 1.5vh;
    text-align: center;
    line-height: 4vh;
    border-radius: 1.1vh;
    font-family: 'Roboto Bold';
    color: white;
}

.phone-contact-name {
    position: absolute;
    left: 7.0vh;
    line-height: 5.0vh;
    font-family: 'Roboto Regular';
    font-size: 1.4vh;
}

.phone-contact-actions {
    position: absolute;
    right: 0;
    top: .3vh;
    right: 2vh;
    font-size: 2.2vh;
    transition: .1s;
}

.phone-contact-action-buttons {
    display: none;
    position: absolute;
    bottom: 1.2vh;
    height: 5vh;
    width: 95%;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.phone-contact-action-buttons > i {
    position: relative;
    float: left;
    margin-left: 5vh;
    left: -.2vh;
    top: 1vh;
    font-size: 2.3vh;
    color: #e9c39d;
    transition: .1s;
}

.phone-contact-action-buttons > i:hover {
    color: #ffecd9;
}

.phone-recent {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background: #1f2933;
}

.phone-recent-header {
    position: relative;
    font-family: 'Roboto Regular';
    font-size: 3.2vh;
    height: 9vh;
    border-bottom-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
    text-align: center;
    background-color: #333c45;
}

.phone-recent-header > p {
    position: relative;
    color: #acb3bb;
    top: 4vh;
    font-size: 2.3vh;
}

.phone-recent-calls::-webkit-scrollbar {
    display: none;
}
.phone-recent-calls {
    position: absolute;
    height: 80%;
    top: 9.5vh;
    width: 99%;
    margin: 0 auto;
    left: 0;
    right: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.phone-recent-call {
    position: relative;
    width: 99%;
    left: 0.3vh;
    height: 6.5vh;
    margin-top: .1vh;
    margin-bottom: 0.6vh;
    color: #e6eaec;
}

.phone-recent-call:hover {
    background-color: #515a61;
}

.phone-recent-call-image {
    position: absolute;
    height: 5vh;
    width: 5vh;
    margin: .5vh;
    margin-left: 1.5vh;
    text-align: center;
    line-height: 5vh;
    border-radius: 1.1vh;
    font-family: 'Roboto Bold';
    color: white;
}
.phone-recent-call-name {
    position: absolute;
    left: 8.0vh;
    line-height: 4.0vh;
    font-family: 'Roboto Regular';
    font-size: 1.4vh;
}
.phone-recent-call-type {
    position: absolute;
    bottom: 1.1vh;
    left: 8vh;
    font-size: 1.2vh;
    color: #e6eaec;
}
.phone-recent-call-time {
    position: absolute;
    bottom: 1.1vh;
    right: 0.75vh;
    font-size: 1.2vh;
    font-family: 'Roboto Regular';
    color: #e6eaec;
}

.phone-suggestedcontacts {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background: #1f2933;
}

.phone-suggestedcontacts-header {
    position: relative;
    font-family: 'Roboto Regular';
    font-size: 3.2vh;
    height: 9vh;
    border-bottom-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
    text-align: center;
    background-color: #333c45;
}

.phone-suggestedcontacts-header > p {
    position: relative;
    color: #acb3bb;
    top: 4vh;
    font-size: 2.3vh;
}

.suggested-contacts {
    position: absolute;
    height: 80%;
    top: 9.5vh;
    width: 99%;
    margin: 0 auto;
    left: 0;
    right: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.suggested-contacts::-webkit-scrollbar {
    display: none;
}

.suggested-contact {
    position: relative;
    width: 99%;
    left: 0.3vh;
    height: 4.5vh;
    margin-top: .1vh;
    margin-bottom: 0.6vh;
    color: #e6eaec;
}

.suggested-contact:hover {
    background-color: #515a61;
}

.suggested-contact > i {
    position: absolute;
    top: 1.0vh;
    left: 1.5vh;
    font-size: 2.5vh;
    color: rgb(255, 164, 44);
}

.suggested-name {
    position: absolute;
    left: 5vh;
    top: 1.4vh;
    font-family: 'Roboto Regular';
    font-size: 1.3vh;
}

.suggested-number {
    font-family: 'Roboto Regular';
    font-size: 1.2vh;
}

.phone-keypad-header {
    padding-top: 6vh;
    padding-left: 3vh;
    font-family: 'Roboto Regular';
    font-size: 1.8vh;
}

#phone-keypad-input {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 8vh;
    height: 4vh;
    width: 19vh;
    border-radius: 1vh;
    border: none;
    background: #333c45;
    outline: none;
    text-indent: 1vh;
    font-family: 'Roboto Regular';
    text-align: left;
    line-height: 3.9vh;
    font-size: 1.75vh;
    overflow: hidden;
    color: #e6eaec;
}

.phone-keypad {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background: #1f2933;
}

.phone-keypad-keys {
    position: absolute;
    width: 23vh;
    height: 27vh;
    left: 3vh;
    top: 16vh;
}

.phone-keypad-key-call {
    position: absolute;
    margin: 0 auto;
    bottom: 10vh;
    left: 11.7vh;
    font-size: 2.5vh;
    height: 5.5vh;
    width: 5.5vh;
    text-align: center;
    line-height: 5.8vh;
    background-color: #e9c39d;
    color: #44270d;
    border-radius: 50%;
    transition: .1s;
}

.phone-keypad-key-call:hover {
    background-color: #dfb790;
}

.phone-keypad-key {
    position: relative;
    float: left;
    height: 23%;
    width: 33.33%;
    text-align: center;
    line-height: 7vh;
    font-family: 'Roboto Regular';
    font-size: 2vh;
    color: #e6eaec;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    transition: .1s;
    border-radius: 1vh;
}

.phone-keypad-key:hover {
    color: #fff;
    border-bottom: 2px solid #11161b;
    background-color: #1c252e;
}

.phone-app-footer {
    position: absolute;
    height: 6vh;
    width: 100%;
    bottom: 0;
    z-index: 101;
    background-color: #333c45;
}

.phone-app-footer-button {
    position: relative;
    height: 100%;
    width: 25%;
    text-align: center;
    line-height: 5vh;
    float: left;
    font-family: 'Roboto Medium';
    font-size: 1.1vh;
    color: #e6eaec;
    border-bottom: .4vh solid #686de000;
    transition: .1s;
}

.phone-app-footer-button:hover {
    background-color: #515a61;
}

.phone-selected-footer-tab {
    color: #e9c39d;
    border-top: .4vh solid #e9c39d;   
    line-height: 4vh;
}

/* Phone Call App */

.phone-call-app {
    display: none;
    height: 100%;
    width: 100%;
    background: #de6262  ;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #de6262 , #ffb88c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #de6262 , #ffb88c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    background-size: 400% 400%;
    
    -webkit-animation: AnimationName 35s ease infinite;
    -moz-animation: AnimationName 35s ease infinite;
    animation: AnimationName 35s ease infinite;  
    overflow: hidden;
}

.phone-call-incoming {
    display: none;
    height: 100%;
    width: 100%;
}
.phone-call-incoming-title {
    position: relative;
    text-align: center;
    top: 7.5vh;
    font-family: 'Samsung Sans Regular';
    color: white;
    font-size: 1.1vh;
    text-shadow: 0 0 1vh rgba(0, 0, 0, 0.1);
}
.phone-call-incoming-caller {
    position: relative;
    text-align: center;
    top: 10vh;
    font-family: 'Samsung Sans Regular';
    color: white;
    font-size: 2.5vh;
    text-shadow: 0 0 1vh rgba(0, 0, 0, 0.1);
}
.phone-call-incoming-picture {
    position: absolute;
    margin: 0 auto;
    width: 12vh;
    height: 12vh;
    left: 0;
    right: 0;
    top: 18vh;
    border-radius: 50%;
    border: .2vh solid #ffffff6c;
    background: rgba(27, 27, 27, 0.25);
    box-shadow: 0 0 .5vh 0 rgba(0, 0, 0, 0.5);
    animation: pulse 2s infinite;
}
#incoming-answer {
    position: absolute;
    bottom: 8vh;
    left: 5vh;
    transform: rotate(90deg);
    color: #2ecc70e5;
    background-color: white;
    padding: 1.5vh;
    font-size: 2.2vh;
    border-radius: 50%;
    transition: .1s;
    animation: pulse 2s infinite;
}
#incoming-answer:hover {
    color: #2ecc71;
    background-color: rgba(255, 255, 255, 0.8);
    transition: .1s;
}
#incoming-deny {
    position: absolute;
    bottom: 8vh;
    right: 5vh;
    transform: rotate(-135deg);
    color: #e74d3ce0;
    background-color: white;
    padding: 1.5vh;
    font-size: 2.2vh;
    border-radius: 50%;
    transition: .1s;
    animation: pulse 2s infinite;
}
#incoming-deny:hover {
    color: #e74c3c;
    background-color: rgba(255, 255, 255, 0.8);
    transition: .1s;
}

/* Outgoing */

.phone-call-outgoing {
    display: none;
    height: 100%;
    width: 100%;
}
.phone-call-outgoing-title {
    position: relative;
    text-align: center;
    top: 7.5vh;
    font-family: 'Samsung Sans Regular';
    color: white;
    font-size: 1.1vh;
    text-shadow: 0 0 1vh rgba(0, 0, 0, 0.1);
}
.phone-call-outgoing-caller {
    position: relative;
    text-align: center;
    top: 10vh;
    font-family: 'Samsung Sans Regular';
    color: white;
    font-size: 2.5vh;
    text-shadow: 0 0 1vh rgba(0, 0, 0, 0.1);
}
.phone-call-outgoing-picture {
    position: absolute;
    margin: 0 auto;
    width: 12vh;
    height: 12vh;
    left: 0;
    right: 0;
    top: 18vh;
    border-radius: 50%;
    border: .2vh solid #ffffff6c;
    background: rgba(27, 27, 27, 0.25);
    box-shadow: 0 0 .5vh 0 rgba(0, 0, 0, 0.5);
    animation: pulse 2s infinite;
}
#outgoing-cancel {
    position: absolute;
    bottom: 8vh;
    margin: 0 auto;
    left: 40.8%;
    transform: rotate(-135deg);
    color: #e74c3c;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1.5vh;
    font-size: 2.5vh;
    border-radius: 50%;
    transition: background-color .1s ease-in-out;
    animation: pulse 2s infinite;
}
#outgoing-cancel:hover {
    background-color: rgba(255, 255, 255, 0.95);
    transition: .2s;
}
@-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.8);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.8);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/* Ongoing */

.phone-call-ongoing {
    display: none;
    height: 100%;
    width: 100%;
}
.phone-call-ongoing-title {
    position: relative;
    text-align: center;
    top: 7.5vh;
    font-family: 'Samsung Sans Regular';
    color: white;
    font-size: 1.1vh;
    text-shadow: 0 0 1vh rgba(0, 0, 0, 0.1);
}
.phone-call-ongoing-caller {
    position: relative;
    text-align: center;
    top: 10vh;
    font-family: 'Samsung Sans Regular';
    color: white;
    font-size: 2.5vh;
    text-shadow: 0 0 1vh rgba(0, 0, 0, 0.1);
}
.phone-call-ongoing-picture {
    position: absolute;
    margin: 0 auto;
    width: 12vh;
    height: 12vh;
    left: 0;
    right: 0;
    top: 18vh;
    border-radius: 50%;
    border: .2vh solid #ffffff6c;
    background: rgba(27, 27, 27, 0.25);
    box-shadow: 0 0 .5vh 0 rgba(0, 0, 0, 0.5);
    animation: pulse 2s infinite;
}
.phone-call-ongoing-time {
    position: relative;
    text-align: center;
    top: 28vh;
    font-family: 'Samsung Sans Regular';
    color: white;
    font-size: 1.2vh;
    text-shadow: 0 0 1vh rgba(0, 0, 0, 0.1);
}
#ongoing-cancel {
    position: absolute;
    bottom: 8vh;
    margin: 0 auto;
    left: 40.8%;
    transform: rotate(-135deg);
    color: #e74c3c;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1.5vh;
    font-size: 2.5vh;
    border-radius: 50%;
    transition: background-color .1s ease-in-out;
    animation: pulse 2s infinite;
}
#ongoing-cancel:hover {
    background-color: rgba(255, 255, 255, 0.95);
    transition: .2s;
}

.phone-add-contact {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top: -1000%;
    background: #1f2933;
    z-index: 102;
}

.phone-add-contact-header {
    position: relative;
    font-family: 'Roboto Regular';
    font-size: 3.2vh;
    height: 9vh;
    border-bottom-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
    text-align: center;
    background-color: #333c45;
}

.phone-add-contact-header > p {
    position: relative;
    color: #acb3bb;
    top: 4vh;
    font-size: 2.3vh;
}

.phone-add-contact-name {
    position: absolute;
    top: 12vh;
    left: 6vh;
    background: none;
    border: none;
    outline: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.555);
    font-family: 'Roboto Regular';
    height: 3.5vh;
    width: 20vh;
    text-indent: .4vh;
    border-radius: .5vh .5vh 0 0;
    transition: .1s;
    font-size: 1.5vh;
    color: #e6eaec;
}

#phone-add-contact-name-icon {
    position: absolute;
    top: 13.1vh;
    left: 2.1vh;
    font-size: 2.4vh;
    color: #e6eaec;
}

.phone-add-contact-name:focus {
    border-bottom: 2px solid #e6eaec;
}

.phone-add-contact-name:valid {
    border-bottom: 2px solid #6ab04c;
}

.phone-add-contact-number {
    position: absolute;
    top: 19vh;
    left: 6vh;
    background: none;
    border: none;
    outline: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.555);
    font-family: 'Roboto Regular';
    height: 3.5vh;
    width: 20vh;
    text-indent: .4vh;
    border-radius: .5vh .5vh 0 0;
    transition: .1s;
    font-size: 1.5vh;
    color: #e6eaec;
}

.phone-add-contact-number::-webkit-inner-spin-button {
    display: none;
}

.phone-add-contact-number:focus {
    border-bottom: 2px solid #e6eaec;
}

.phone-add-contact-number:valid {
    border-bottom: 2px solid #e9c39d;
}

.phone-add-contact-iban {
    position: absolute;
    top: 26vh;
    left: 6vh;
    background: none;
    border: none;
    outline: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.555);
    font-family: 'Roboto Regular';
    height: 3.5vh;
    width: 20vh;
    text-indent: .4vh;
    border-radius: .5vh .5vh 0 0;
    transition: .1s;
    font-size: 1.5vh;
    color: #e6eaec;
}

.phone-add-contact-iban::-webkit-inner-spin-button {
    display: none;
}

.phone-add-contact-iban:focus {
    border-bottom: 2px solid #e6eaec;
}

.phone-add-contact-iban:valid {
    border-bottom: 2px solid #e9c39d;
}

#phone-add-contact-number-icon {
    position: absolute;
    top: 20.1vh;
    left: 2.1vh;
    font-size: 2.4vh;
    color: #e6eaec;
}

#phone-add-contact-iban-icon {
    position: absolute;
    top: 27.1vh;
    left: 2.1vh;
    font-size: 2.4vh;
    color: #e6eaec;
}

.phone-add-contact-buttons {
    position: absolute;
    height: 6vh;
    width: 100%;
    bottom: 0;
    z-index: 101;
    background-color: #333c45;
}

.phone-add-contact-button {
    position: relative;
    height: 100%;
    width: 50%;
    text-align: center;
    line-height: 5vh;
    float: left;
    font-family: 'Roboto Medium';
    font-size: 1.1vh;
    color: #e6eaec;
    border-bottom: .4vh solid #686de000;
    transition: .1s;
}

.phone-add-contact-button:hover {
    color: #e9c39d;
    border-top: .4vh solid #e9c39d;   
    line-height: 4vh;
    background-color: #515a61;
}

/* EDIT CONTACT YEEY */

.phone-edit-contact {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top: -100%;
    /* top: 0%; */
    background: #1f2933;
    z-index: 102;
}


.phone-edit-contact-header {
    position: relative;
    font-family: 'Roboto Regular';
    font-size: 3.2vh;
    height: 9vh;
    border-bottom-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
    text-align: center;
    background-color: #333c45;
}

.phone-edit-contact-header > p {
    position: relative;
    color: #acb3bb;
    top: 5vh;
    font-size: 1.5vh;
}

.phone-edit-contact-name {
    position: absolute;
    top: 12vh;
    left: 6vh;
    background: none;
    border: none;
    outline: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.555);
    font-family: 'Roboto Regular';
    height: 3.5vh;
    width: 20vh;
    text-indent: .4vh;
    border-radius: .5vh .5vh 0 0;
    transition: .1s;
    font-size: 1.5vh;
    color: #e6eaec;
}

#phone-edit-contact-name-icon {
    position: absolute;
    top: 13.1vh;
    left: 2.1vh;
    font-size: 2.4vh;
    color: #e6eaec;
}

.phone-edit-contact-name:focus {
    border-bottom: 2px solid #30336b;
}

.phone-edit-contact-name:valid {
    border-bottom: 2px solid #6ab04c;
}

.phone-edit-contact-number {
    position: absolute;
    top: 19vh;
    left: 6vh;
    background: none;
    border: none;
    outline: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.555);
    font-family: 'Roboto Regular';
    height: 3.5vh;
    width: 20vh;
    text-indent: .4vh;
    border-radius: .5vh .5vh 0 0;
    transition: .1s;
    font-size: 1.5vh;
    color: #e6eaec;
}

.phone-edit-contact-number::-webkit-inner-spin-button {
    display: none;
}

.phone-edit-contact-number:focus {
    border-bottom: 2px solid #30336b;
}

.phone-edit-contact-number:valid {
    border-bottom: 2px solid #6ab04c;
}

.phone-edit-contact-iban {
    position: absolute;
    top: 26vh;
    left: 6vh;
    background: none;
    border: none;
    outline: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.555);
    font-family: 'Roboto Regular';
    height: 3.5vh;
    width: 20vh;
    text-indent: .4vh;
    border-radius: .5vh .5vh 0 0;
    transition: .1s;
    font-size: 1.5vh;
    color: #e6eaec;
}

.phone-edit-contact-iban::-webkit-inner-spin-button {
    display: none;
}

.phone-edit-contact-iban:focus {
    border-bottom: 2px solid #30336b;
}

.phone-edit-contact-iban:valid {
    border-bottom: 2px solid #6ab04c;
}

#phone-edit-contact-number-icon {
    position: absolute;
    top: 20.1vh;
    left: 2.1vh;
    font-size: 2.4vh;
    color: #e6eaec;
}

#phone-edit-contact-iban-icon {
    position: absolute;
    top: 27.1vh;
    left: 2.1vh;
    font-size: 2.4vh;
    color: #e6eaec;
}

.phone-edit-contact-buttons {
    position: absolute;
    height: 6vh;
    width: 100%;
    bottom: 0;
    z-index: 101;
    background-color: #333c45;
}

.phone-edit-contact-button {
    position: relative;
    height: 100%;
    width: 33%;
    text-align: center;
    line-height: 5vh;
    float: left;
    font-family: 'Roboto Medium';
    font-size: 1.1vh;
    color: #e6eaec;
    border-bottom: .4vh solid #686de000;
    transition: .1s;
}

.phone-edit-contact-button:hover {
    color: #e9c39d;
    border-top: .4vh solid #e9c39d;   
    line-height: 4vh;
    background-color: #515a61;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}