/* CSS Reset */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent !important;
}

/* Disable selection in HTML */
.disableSelection{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
}

/* Container div for phone */
.container {
    display: none;
    bottom: -70%;
    /* display: block; */
    position: absolute;
    /* bottom: 0%; */
    right: 5vh;
}

/* Phone frame */
.phone-frame {
    position: absolute;
    width: 30vh;
    bottom: 0;
    right: 0;
    margin: 5vh;
    z-index: 150;
    pointer-events: none;
}

/* Phone Container + Background */
.phone-container {
    height: 61.7vh;
    width: 29vh;
    bottom: 1vh;
    border-radius: 3vh;
    right: 0.5vh;
    margin: 5vh;
    overflow: hidden;
    position: absolute;
}

.phone-background {
    background-image: url('../img/backgrounds/default-rs.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Phone navbar */
.phone-navbar {
    width: 100%;
    height: 4vh;
    z-index: 141;
    position: absolute;
    /* color: white; */
}

#phone-time {
    font-family: 'Roboto Regular';
    font-size: 1.3vh;
    padding: 1.2vh 0 0 1.9vh;
    float: left;
}

#phone-icons {
    font-family: 'Roboto Regular';
    font-size: 0.95vh;
    padding: 1.4vh 2.0vh 0 0vh;
    float: right;
}

#phone-signal {
    font-size: 1vh;
    left: -0.3vh;
    position: relative;
}

#phone-battery {
    transform: rotate(-90deg);
    top: -0.1vh;
    position: relative;
}

/* Phone Footer */
.phone-bottom {
    position: absolute;
    bottom: 0;
    height: 2.5vh;
    width: 100%;
}

.phone-home-container {
    position: relative;
    height: 1.3vh;
    width: 15.2vh;
    margin: 0 auto;
    top: 1.1vh;
    transform: translateY(-50%);
    border-radius: 0.8vh;
    transition: .15s;
    z-index: 500;
}

.phone-home-container:hover {
    /* background-color: rgba(0, 0, 0, 0.45); */
}

.phone-home-container:hover 
.phone-home-button {
    background-color: rgba(195, 195, 195, 0.95);
}

.phone-home-button {
    position: relative;
    height: 0.5vh;
    width: 14.8vh;
    background-color: rgba(210, 210, 210, 0.75);
    border-radius: 0.8vh;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    transition: .1s;
}

/* Phone applications rows */
.phone-applications {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.05);
}

.phone-bottom-apps {
    position: absolute;
    width: 100%;
    bottom: 4vh;
}

.phone-application {
    position: relative;
    height: 4.6vh;
    width: 4.6vh;
    left: 1vh;
    float: left;
    margin-left: 1.75vh;
    margin-top: 1.5vh;
    border-radius: 1.5vh;
    text-align: center;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.13);
    opacity: 0.9;
    transition: .05s;
}

.phone-application:hover {
    opacity: 1.0;
}

.phone-home-apps {
    position: absolute;
    width: 100%;
    top: 5vh;
}

.phone-application > i {
    line-height: 4.6vh;
    font-size: 2vh;
}

.ApplicationIcon {
    color: rgba(0, 0, 0, 0.863);
}

/* Phone Application Contanier */
.phone-application-container {
    display: none;
    /* display: block; */
    top: -160%;
    /* top: 0; */
    position: absolute;
    height: 99%;
    width: 100%;
    background-color: rgb(65, 65, 65);
    z-index: 100;
}

/* Phone Notification */

.phone-notification-container {
    position: absolute;
    height: 5.5vh;
    width: 22vh;
    background-color: rgba(39, 39, 39, 0.9);
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -8%;
    border-radius: 3vh;
    overflow: hidden;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.11);
    z-index: 140;
}

.notification-icon {
    position: absolute;
    height: 100%;
    width: 5vh;
    text-align: center;
    line-height: 5.7vh;
    color: #e74c3c;
    font-size: 2.5vh;
}

.notification-title {
    position: absolute;
    top: 1vh;
    left: 4.5vh;
    font-size: 1.1vh;
    font-family: 'Roboto Regular';
    color: #ffffff;
}

.notification-text {
    position: absolute;
    top: 2.7vh;
    left: 4.5vh;
    font-size: 1vh;
    font-family: 'Roboto Regular';
    color: rgb(255, 255, 255);
    width: 16vh;
    overflow: hidden;
}

/* Phone Notification END */

.call-notifications {
    display: none;
    position: absolute;
    background: #333c45;
    height: 9vh;
    width: 34vh;
    bottom: 16vh;
    right: -35vh;
    border-radius: 1vh;
    z-index: -5;
}
.call-notifications-shake {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}
  
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.screen-notifications-container {
    display: none;
    position: absolute;
    background: rgba(29, 160, 242, 0.9);
    height: 9vh;
    width: 34vh;
    bottom: 5vh;
    right: -35vh;
    border-radius: 1vh;
    z-index: -5;
}

.screen-notification-icon {
    position: absolute;
    line-height: 9.3vh;
    left: 2vh;
    font-size: 3.75vh;
    color: white;
}

.screen-notification-title {
    position: absolute;
    line-height: 5.5vh;
    left: 7.5vh;
    font-size: 1.5vh;
    color: white;
    font-family: 'Roboto Bold';
}

.screen-notification-content {
    position: absolute;
    top: 4.2vh;
    left: 7.5vh;
    font-size: 1.2vh;
    color: white;
    font-family: 'Roboto Medium';
    height: 3.5vh;
    width: 26vh;
    overflow: hidden;
}

.call-notifications-icon {
    position: absolute;
    line-height: 9.3vh;
    left: 2vh;
    font-size: 3.75vh;
    color: white;
    transform: rotate(90deg);
}

.call-notifications-title {
    position: absolute;
    line-height: 5.5vh;
    left: 7.5vh;
    font-size: 1.5vh;
    color: white;
    font-family: 'Roboto Bold';
}

.call-notifications-content {
    position: absolute;
    top: 4.2vh;
    left: 7.5vh;
    font-size: 1.2vh;
    color: white;
    font-family: 'Roboto Medium';
    height: 3.5vh;
    width: 26vh;
    overflow: hidden;
}

.emergency-button {
    position: absolute;
    right: 3vh;
    top: 10vh;
    width: 33vh;
    height: 20vh;
    background-color: #004682;
    /* border: .1vh solid #002f5831; */
    border-radius: 1vh;
    overflow: hidden;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.199);
}

.emergency-button-header {
    position: absolute;
    background-color: #ffffff;
    height: 3.5vh;
    top: 0;
    width: 100%;
}

.emergency-button-footer {
    position: absolute;
    background-color: #ffffff;
    height: 2.5vh;
    bottom: 0;
    width: 100%;
}

.police-logo-2 {
    position: absolute;
    width: 6vh;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: .5vh;
}

.police-logo-3 {
    position: absolute;
    width: 15vh;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
}

.app-unread-alerts {
    position: absolute;
    width: 2vh;
    height: 2vh;
    top: -.5vh;
    left: -.5vh;
    color: white;
    text-align: center;
    line-height: 2vh;
    background: #d63031;
    border-radius: 50%;
    font-family: 'Roboto Bold';
    font-size: 1.1vh;
}


.phone-ghuu {
    transition: 1s all ease-in-out;
    height: 61.7vh;
    width: 28.6vh;
    bottom: 1vh;
    border-radius: 3vh;
    right: 0.5vh;
    margin: 5vh;
    overflow: hidden;
    position: absolute;
    background-image: url(https://cdn.discordapp.com/attachments/826905911234527232/879079465731383366/sdsdsd.JPG);
    background-size: cover;
    background-position:100%;
    background-repeat: no-repeat;
    z-index:9999;
}

#phone-timepre {
    position: absolute;
    font-family: 'Roboto Regular';
    font-size: 5vh;
    padding: 1.2vh 0 0 1.9vh;
    float: left;
    top: 30%;
    color: white;
    z-index:9999;
}

#phone-day {
    position: absolute;
    font-family: 'Roboto Regular';
    font-size: 2vh;
    padding: 1.2vh 0 0 1.9vh;
    float: left;
    top: 22%;
    color: white;
    z-index:9999;
}

#phone-icons {
    font-family: 'Roboto Regular';
    font-size: 0.95vh;
    padding: 1.4vh 2.0vh 0 0vh;
    float: right;
    color: white;
    z-index:99999;
}



.lds-default {
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 80px;
    top: 70%;
    left: 35%;
}

.lds-default div {
    position: absolute;
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
    animation: lds-default 1.2s linear infinite;
}

.lds-default div:nth-child(1) {
    animation-delay: 0s;
    top: 37px;
    left: 66px;
}

.lds-default div:nth-child(2) {
    animation-delay: -0.1s;
    top: 22px;
    left: 62px;
}

.lds-default div:nth-child(3) {
    animation-delay: -0.2s;
    top: 11px;
    left: 52px;
  
}

.lds-default div:nth-child(4) {
    animation-delay: -0.3s;
    top: 7px;
    left: 37px;
}

.lds-default div:nth-child(5) {
    animation-delay: -0.4s;
    top: 11px;
    left: 22px;
}

.lds-default div:nth-child(6) {
    animation-delay: -0.5s;
    top: 22px;
    left: 11px;
}

.lds-default div:nth-child(7) {
    animation-delay: -0.6s;
    top: 37px;
    left: 7px;
  
}

.lds-default div:nth-child(8) {
    animation-delay: -0.7s;
    top: 52px;
    left: 11px;
}

.lds-default div:nth-child(9) {
    animation-delay: -0.8s;
    top: 62px;
    left: 22px;
}

.lds-default div:nth-child(10) {
    animation-delay: -0.9s;
    top: 66px;
    left: 37px;
}

.lds-default div:nth-child(11) {
    animation-delay: -1s;
    top: 62px;
    left: 52px;
}

.lds-default div:nth-child(12) {
    animation-delay: -1.1s;
    top: 52px;
    left: 62px;
}

@keyframes lds-default {
    0%, 20%, 80%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
}
  

#phone-swipe {
    position: absolute;
    font-family: 'Roboto Regular';
    font-size: 1.3vh;
    padding: 1.2vh 0 0 1.9vh;
    float: left;
    top: 82%;
    left: 21%;
    color: white;
    text-transform: uppercase;
    z-index:99999;
}